html,
body {
  height: 100%;
  width: 100%;

  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 170px 0 170px;
  overflow: hidden;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .1s linear;
}

body {
  font-family: 'ArTarumianHelvetica', Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #525252;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

p {
  font-size: 1rem;
}


/* header */



.gradient-text {
  font-family: 'ArTarumianHelvetica', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.call-specialist-wrapper {
  display: inline-block;
  width: 295px;
  height: 45px;
  padding: 2px;
  border-bottom: 1px solid #6bac6f;
  border-left: 1px solid #6bac6f;
  border-top: 2px solid #6bac6f;
  border-right: 2px solid #6bac6f;
  cursor: pointer;
}

.call-specialist {
  background: linear-gradient(69deg, #39883e, #55c255);
  color: #ffffff;
  font-weight: bold;
}

.call-specialist a {
  font-family: 'ArTarumianHelvetica', Helvetica, Arial, sans-serif;
}

.call-specialist:hover,
.call-specialist-btn2:hover,
.call-specialist-btn1:hover {
  background: #6fab73;
}

.online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #20c049;
  animation: blink 3s infinite;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.contnt-wrapper h4{
  justify-content: flex-start !important;
  gap: 35px !important;
}

.services-icon{
  max-width: 100px !important;
  width: 100% !important;
}

.dezinfekciya-item{
  width: 410px !important;
  padding:29px 26px 23px 32px !important;
}

.contnt-wrapper h3{
  letter-spacing: -2px !important;
}

.contnt-wrapper p{
  letter-spacing: -1px !important;
}

.offline {
  background-color: #000000;
}


.call a:hover {
  color: #39883e !important;
  text-decoration: underline;
}

/* main */
.cost-btn:hover, 
.met-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

/* Company Services */
.company-services-call:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.company-services1,
.company-services2 {
  display: flex;
  gap: 17px;
}

.company-services1 a,
.company-services2 a {
  font-family: Century Gothic;
  color: #242424;
  font-size: 24px;
  font-weight: 400;
  padding: 9px 16px;
  border: 3px solid #abe3b2;
  border-radius: 50px;
}

.company-services2 a {
  border: 3px solid #abbde3;
}

.company-services1 a:hover {
  background:  #23813b;
  color: #ffffff;
}

.company-services2 a:hover {
  background: #7c93c3;
  color: #ffffff;
}


/* burger popup */
.menu-window.popup {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 650px !important;
  padding: 100px 170px;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  border-bottom: 5px solid #23813b;
  z-index: 1000;
}

.menu-popap {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding: 100px 170px;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  border-bottom: 5px solid #23813b;
  z-index: 1000;
}

.menu-window.popup.active, 
.menu-popap.active {
  transform: scaleY(1);
  opacity: 1;
}

.burger-icon,
#burgerIcon {
  width: 100%;
  transition: transform 0.3s ease;
}

.burger-menu:hover {
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

.burger-menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1100;
}

.burger-icon {
  width: 100%;
  transition: transform 0.3s ease;
}

.burger-menu.active .burger-icon {
  transform: rotate(90deg);

}

/* services */
.dezinfekciya-item:hover {
  background: linear-gradient(29deg, #539267, #51ac4d);
}


.dezinfekciya-item:hover img {
  filter: brightness(0) invert(1);
}

.dezinfekciya-item:hover h3,
.dezinfekciya-item:hover h4,
.dezinfekciya-item:hover p {
  color: #ffffff !important;
}

.dezinfekciya-more-services.active .service-link {
  display: none !important;
}



.service-link:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  color: #ffffff;
}

.service-link:hover img {
  filter: brightness(0) invert(1);
}

/* more services */
.more-services-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dezinfekciya-more-services.active .more-services-content {
  max-height: 5000px;
  overflow: auto;
}

.dezinfekciya-more-services.active .services-hr {
  height: 0 !important;
  background-color: #ffffff !important;
}

.dezinfekciya-more-services.active .service-link img {
  transform: rotate(180deg);
}


.more-services-top.stack-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
}

.arrow-more {
  filter: brightness(0) invert(0);
  transition: filter 0.3s ease;
}

.price-disinsection:hover {
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.price-disinsection:hover .price-disinsection-h4 {
  color: #242424 !important;
}

.price-disinsection:hover .price-disinsection-p {
  color: #242424 !important;
}

.price-disinsection:hover .price-disinsection-h3 {
  color: #ffffff !important;
}

.price-disinsection-h3,
.price-disinsection-h4,
.price-disinsection-p {
  transition: color 0.3s ease;
}

.price-disinsection:hover .arrow-more {
  filter: brightness(0) invert(1)
}

.price-disinsection:hover .pocet {
  filter: brightness(0) invert(0);
  transition: filter 0.3s ease;
}

.more-services-footer-links:hover .arrow-black {
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

.more-services-footer-links:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}


/* scroll effects */
.dezinfekciya-item {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease;
}


.dezinfekciya-item.show {
  opacity: 1;
  transform: translateY(0);
}

/* quiz */
.quiz-option img {
  filter: brightness(0) invert(1)
}

.quiz-option:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
  cursor: pointer;
}


.quiz-prev:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.quiz-towns {
  display: flex;
  align-items: center;
  width: 1050px;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  height: 160px;
  gap: 0;
}

.quiz-town-viewport {
  width: calc(100% - 100px);
  overflow: hidden;
}

.quiz-town-connetn {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: 220px;
  gap: 15px;
  align-items: center;
  transition: transform 0.4s ease;
  width: max-content;
  box-sizing: border-box;
}


.quiz-town-connetn>div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  padding: 8px;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  user-select: none;
}

.quiz-town-connetn>div img {
  width: 45px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 6px;
}


.arrow-left,
.quiz-arrow-right {
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-left img {
  transform: rotate(180deg);
}

.sent-button:hover {
  box-shadow: 0 10px 10px rgba(16, 16, 16, 0.25);
  opacity: 0.9;

}

.quiz-town-connetn div:hover {
  color: #23813b;
}

.arrow-left img:hover,
.quiz-arrow-right {
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contact popup  */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.popup .popup-content {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  justify-content: center;
  background: #f3efe1;
  border-radius: 12px;
  padding: 28px 24px;
  width: 90%;
  max-width: 520px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: start;
  animation: fadeIn 0.25s ease;
}

.popup .popup-close {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 22px;
  color: #888;
  cursor: pointer;
}

.popup .popup-close:hover {
  color: #2b9045;
}

/* Popup window */
.popup-window {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: "Century Gothic", sans-serif;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Close button */
.close-popup {
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: 0.3s;
}

.close-popup:hover {
  color: #2b9045;
}

/* Button inside popup */
#backToQuiz {
  background: linear-gradient(90deg, #2b9045, #38b856);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
}

#backToQuiz:hover {
  background: linear-gradient(90deg, #38b856, #2b9045);
  transform: translateY(-1px);
}

/* towns */
.town-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.60);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.town-modal-content {
  width: 80%;
  max-width: 1920px;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  position: relative;
}

.town-modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
  color: #333;
}



.town-modal-inner div{

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  box-sizing: border-box;
  padding: 8px;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  user-select: none;
}

.town-modal-inner>div img {
  width: 45px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 6px;
}



.town-modal-inner {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 200px-ը կարող ես փոխել */
    gap: 30px;
    max-height: 80vh;
    overflow-y: auto;
    align-items: start;

}


.town-modal .quiz-town-connetn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 30px;
  justify-items: center;
  text-align: center;
}

/* object */
.object img {
  border-radius: 20px;
}

.object a {
  display: inline-block;
  transition: all 0.3s ease;
}

.object a:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0.45);
  opacity: 0.8;
}

.object img {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  
}

.object:hover img {
  opacity: 0.6;
}

/* sertifikation */
.metka {
  position: absolute;
  right: -120px;
  bottom: 100px;
}

.sertificat2 {
  position: absolute;
  top: 150px;
  left: 400px;
  z-index: 1;
}

.sertificat1 {
  position: relative;
  z-index: 2;
  top: 80px;
  left:100px;

}

/* fast call */
.fast-call-image {
  width: 100%;
  width: 945px;
  height: 100%;
  margin-right: -170px !important;
}

.fast-call-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;


}

.fast-call-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

/* contacts */

.tel-icon {
  padding: 9px;
  background: #5bb272;
  border-radius: 15px;
}

.mail-icon {
  background: #5bb272;
  border-radius: 15px;
  padding: 16px 13px;
}

.tel-wrapper:hover .tel-wrapper-phone,
.tel-wrapper:hover .tel-wrapper-mail{
  text-decoration: underline !important;
  color: #38b856 !important;
}


.tel-icons a:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.tel-wrapper:hover .tel-icon,
.tel-wrapper:hover .mail-icon,
.tel-icons a:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tel-icons a {
  margin: 0 32px;
}

.contact-form form input[type="text"],
.contact-form form input[type="tel"] {
  padding: 20px 18px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.contact-form form textarea {
  padding: 18px 18px;
  border: none;
  border-radius: 10px;
  height: 73px;
  font-size: 18px;
}

/*  .checkbox */
.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px 5px;
  width: 16px;
  height: 14px;
  border: 2px solid #9a9892;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  position: relative;
}


.checkbox-container input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -5px;
  width: 6px;
  height: 14px;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
}

.caontact-btn:hover {
  background: linear-gradient(69deg, #6bac6f, #55c255);
}

.caontact-btn-wrapper a:hover{
  text-decoration: underline;
}





/* //////////////////////////////////////////////// */
/* services */


.servises-type-img-wrapper img{
  width: 843px;
  height: 711px;
  top: -16px;
  right: -100px;

}



.profilaktika-left:hover {
  background-color: #23813b !important; 
  border-color: #23813b !important;
}


@media (max-width: 1908px) {
  header {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px 30px;
  }



  header .logo-wrapper {
    grid-row: 1;
    grid-column: 1 / 2;
  }

  header .disinfection-services {
    grid-row: 1;
    grid-column: 2 / 3;
    width: auto !important;
    margin-right: 0 !important;
  }

  header .license-info {
    grid-row: 1;
    grid-column: 3 / 4;
    width: auto !important;
    margin-right: 0 !important;
  }

  header .call-specialist-wrapper {
    grid-row: 2;
    grid-column: 1 / 2;
    margin-right: 0 !important;
  }

  header .working-now-wrapper {
    grid-row: 2;
    grid-column: 2 / 3;
    width: auto !important;
    margin-right: 0 !important;
  }

  header .burger-wrapper {
    grid-row: 2;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  .compony-wrapper{
    gap: 100px !important;
  }

  .dezinfekciya-heding{
    flex-direction: column;

  }

    .menu-window.popup, 
    .menu-popup{
    top: 165px !important;
  }
}

@media (max-width: 1906px) {
 /* .servises-type-img-wrapper{
  transform: scale(0.9);
  transform-origin: center;
  } */


    .servises-type-content h2{
      font-size: 55px !important;
    }

    .servises-type-content h3{
      font-size: 40px !important;
    }

    .cost-btn{
    }

    .cost-btn{
      font-size: 20px !important;
    }
}

@media (max-width: 1895px){
 .cost-btn-wrapper{
  padding: 60px 0 0 !important;
 }

 .main-baaner{
  margin-top: 90px !important;
 }

}

@media (max-width: 1800px){
  .removin-inner{
    gap: 55px !important;
  }

  .removing-text{
    margin-top: 60px !important;
  }
}

@media (max-width: 1763px) {
  .container   {
    padding: 40px 100px 0 100px !important ;
  }
  .safe-for-children-wrapper{
     padding: 0 100px 0 100px !important ;
  }
  .menu-window.popup, 
  .menu-popap{
    padding: 50px !important;
  }

  .fast-call {
    margin-right: -100px !important;
    width: calc(100% + 170px) !important;
  }

  .sertifikation-wrapper{
    margin-left: -100px !important;
    margin-right: -100px !important;
    padding: 60px 100px 0 100px !important;
    width: calc(100% + 100px + 100px) !important;
  }

  .bg-wraper{
    margin-left: -100px !important;
    margin-right: -100px !important;
    padding: 81px 100px 77px 100px !important;
    width: calc(100% + 100px + 100px) !important;
  }

  .example-of-practis-wrapper{
    margin-left: -100px !important;
    margin-right: -100px !important;
    padding: 81px 100px 77px 100px !important;
    width: calc(100% + 100px + 100px) !important;
  }

    .compony-wrapper{
    margin-left: -100px !important;
    margin-right: -100px !important;
    padding: 81px 60px 77px 100px !important;
    width: calc(100% + 100px +100px) !important;
  }

  .organisation-container {
    left: -100px !important;
    right: -100px !important;
  }

  .organization-content-wrapper{
    padding: 0 100px 0 100px !important;
  }

  .beground {
    opacity: 0.3;
  }

  .main-img {
    opacity: 0.7;
  }

  .services-hr {
    right: -100px !important;
  }

  .bg-removing{
    left: -100 !important;
  }

    .bg-removing{
    padding-left: 100px !important;
  }

  .why-choose-us,
  .footer-relative,
  .safe-for-children{
    margin-right: -100px !important;
    margin-left: -100px !important;
  }

  .sertificat2 {
    left: -310px;
  }

  .sertifikation-wrapper h2 {
    font-size: 38px;
    width: 70%;
    text-align: center;
    margin: auto;
  }

  .fast-call-image, 
  .bg-removing1 {
    margin-right: -100px !important;
    margin-left: -100px !important;
    width: calc(100% + 100px + 100px) !important;
  }

  .methodes{
    margin-right: -170px !important;
    width: calc(100% + 100px) !important;
  }

  .fast-call-title {
    width: 440px !important;
  }

  .privacy-policy {
    padding: 70px, 100px 70px 100px !important;
  }

  .line-container{
    width: calc(100% + 100px) !important;
  }

  .example-squar1{
    top: 0 !important;
    right: 10px !important;
  }

  .example-squar2{
    top: 10px !important;
    right: -50px !important;
  }

  .servises-type-content h2{
    width: 600px !important;
  }

  .cost-btn-wrapper{
    padding: 20px;
  }

  .services-types-wrapper{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .fast-call-wrapper div h2{
    font-size: 36px;
  }

    .organisation-content-item2{
    width: 730px !important;
  }
  .organisation-content-item2 h2{
    font-size: 40px !important;
  }

    .position-sertifications{
    right: -100px !important;
    top:0 !important;
  }
     .sertificat2 {
        left: 320px !important;
    }
}


@media (max-width: 1703px){
  .main-image{
    left: 700px !important;
  } 
}
@media (max-width: 1685px){
  .why-choose-us-image{
    width: 600px !important;
  }

  .why-choose-us-content-wrapper h2{
    font-size: 40px !important;
  }

  .why-choose-us-content-text p{
    font-size: 20px !important;
  }
}

@media (max-width: 1675px) {
  .services-type {
    flex-direction: column !important;
    gap: 100px !important;            
    align-items: center; 
    justify-content: center;
    padding: 60px !important; 
       
  }

  .servises-type-img-wrapper img{
    right: auto !important;
     top: auto !important;
  }


 .cost-btn{
  font-size: 18px !important;
 } 


  .methodes-wraper2{
    gap: 25px !important;
  }

  .removing-inner-left p{
    font-size: 18px !important;
  }

  .removing-text {
    gap: 20px !important;
  }

  .removing-inner-right{
    width: 750px !important;
  }

  .removing-inner-left h2{
    font-size: 36px !important;
  }
  .removin-inner{
    gap: 20px !important;
  }


}

@media (max-width: 1600px){
  .description-content{
    gap: 100px !important;
  }

  .company-services1 a,
  .company-services2 a{
    font-size: 20px !important;
  }

   .company-services{
    padding: 0 !important;
   }

  section, 
  main{
    margin-top: 150px !important;
  }
}

@media (max-width: 1557px){
  .methodes-wraper, 
  .methodes-wraper2{
    gap: 90px !important;
  }

.example-content{
   margin-top: 120px !important;
}
  
  .example-circle{
    left: auto !important;
    right:-70px !important;
    top: 30px !important;
  }

  .example-text-content{
    width: 450px !important;
    gap: 25px !important;
  }

  .example-image{
    width: 450px !important;
    height: 450px !important;
  }

  .example-circle{
    width: 180px !important;
    height: 180px !important;
  }

  .example-circle1{
    width: 120px !important;
    height: 120px !important;
    right: -30px !important;
  }

  .profilaktika-wrapper{
    gap: 50px !important;
  }

  .full-loop h2{
    font-size: 38px !important;
  }

  .full-loop p{
    font-size: 18px !important;
  }

  .profilaktika-wrapper{
    gap: 50px !important;
  }

  .removing-inner-left{
    width: 510px !important;
  }

  .removing-text{
    gap: 15px !important;
  }

}

@media (max-width: 1556px) {
  .container,
  .safe-for-children-wrapper{
    padding: 30px 50px 0 50px !important;
  }

  .menu-window.popup {
    padding: 50px !important;
  }

   .sertifikation-wrapper{
    margin-left: -50px !important;
    margin-right: -50px !important;
    padding: 60px 50px 0 50px !important;
    width: calc(100% + 50px + 50px) !important;
  }

   .fast-call {
    margin-right: -50px !important;
    width: calc(100% + 50px) !important;
  }

    .example-of-practis-wrapper{
    margin-left: -50px !important;
    margin-right: -50px !important;
    padding: 61px 50px 51px 50px !important;
    width: calc(100% + 50px + 50px) !important;
  }

  .bg-wraper{
    margin-left: -50px !important;
    margin-right: -50px !important;
    padding: 61px 50px 51px 50px !important;
    width: calc(100% + 50px + 50px) !important;
  }

    .compony-wrapper{
    margin-left: -50px !important;
    margin-right: -50px !important;
    padding: 71px 30px 67px 50px !important;
    width: calc(100% + 50px + 50px) !important;
  }

    .line-container{
    width: calc(100% + 50px) !important;
  }

  .organisation-container {
    left: -50px !important;
    right: -50px !important;
  }

   .organisation-container{
        width: calc(100% + 50px + 50px) !important;
  }

  .organization-content-wrapper{
    padding: 0 50px 0 50px !important;
  }

  .main-img {
    right: 60px !important;
  }

  .services-hr {
    right: -50px !important;
  }

  .bg-removing{
    left: -50px !important;
  }

  .bg-removing{
    padding-left: 50px !important;
  }

  .why-choose-us,
  .footer-relative, 
  .safe-for-children {
    margin-right: -50px !important;
    margin-left: -50px !important;
  }


  .fast-call-image,
  .bg-removing1 {
    margin-right: -50px !important;
    margin-left: -50px !important;
    width: calc(100% + 50px + 50px) !important;
    
  }

   .methodes{
    margin-right: -5px !important;
    width: calc(100% + 50px) !important;
  }


  .contact-container {
    gap: 150px !important;
  }



  .privacy-policy {
    padding: 70px 50px 70px 50px !important;
  }

  .position-sertifications{
    right: -50px !important;
    top:0 !important;
  }

  .sertificat2 {
    left: 250px !important;
  }

  .sertificat1{
    top: 40px !important;
    left: 0 !important;
  }

}

@media (max-width: 1500px){
 .sertifikation-wrapper{
    flex-direction: column !important;
    align-items: center !important;
    gap: 60px !important;

  }

  .position-sertifications{
    right: auto !important;
  }

}

@media (max-width: 1456px) {
  .header-item1 {
    width: 40%;
  }

  .header-item2 {
    width: 56%;
  }

  .why-choose-us-content-wrapper h2 {
    font-size: 38px !important;
  }


  .why-choose-us-content-text p {
    font-size: 18px !important;
  }

  .why-choose-us-content-text {
    gap: 20px !important;
  }

  .fast-call-wrapper{
    gap: 80px !important;
  }

}

@media (max-width: 1445px) {

.menu-popap {
    top: 165px !important;
    }


  .burger-menu.active {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    transform: scale(1.1);
  }

  header {
    flex-wrap: wrap;
  }

  .header-item1 {
    width: 100%;
    justify-content: flex-start;
  }

  .header-item2 {
    width: 100%;
  }


  .dezinfekciya-heding {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .company-wrapper-content{
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
   
  }

    .why-choose-us{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: none !important;
    gap: 60px !important;

  }

  .why-choose-us-wrapper{
    background-color: #f2e9e2;

    padding: 30px 0 30px 0 !important;
  }

  .dezinfekciya-wrapper,
  .more-services-bottom,
  .more-services-left {
    gap: 60px !important;
  }

  .price-disinsection {
    width: 300px !important;
    padding: 20px !important;
  }

  .price-disinsection-h3 {
    font-size: 24px !important;
  }

  .price-disinsection-h4 {
    font-size: 20px !important;
  }

  .price-disinsection-p {
    font-size: 18px !important;
  }

  

  .more-services-left {
    width: 65% !important;
  }

  .object-wrapper {
    gap: 50px !important;
  }

  .object h3 {
    font-size: 20px !important;
  }

  .object p {
    font-size: 12px !important;
  }

  .client-contnt-wrapper {
    margin: auto;
  }

  .client-contnt-wrapper h2 {
    text-align: center;
  }

  .clients-content {
    justify-content: center !important;
  }

  .fast-call-wrapper {
    height: auto !important;
  }

  .contact-container {
    align-items: flex-start !important;
  }

  .contact-container-contacts {
    gap: 50px !important;
  }

  .tel-wrapper {
    gap: 20px !important;
  }


  .tel-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .tel-icons a {
    margin: 0;
  }

  .tel-wrapper p {
    font-size: 22px !important;
  }


  .footer-item1 .disinfection-services,
  .license-info-footer,
  .privacy-spun {
    display: none !important;

  }

  .right-footer {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;

  }

  .footer-wrapper {
    align-items: flex-start !important;
  }

  .left-footer {
    margin-right: 40px !important;
  }

  .description-content-inner{
    font-size: 18px !important;
    width: 530px !important;
    gap: 20px !important;

  }


  .why-rfdez-item,
  .garants-wrapper-item{
    gap: 30px !important;
  }

}

@media (max-width: 1400px){
  .main-content{
    gap: 150px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .main-image{
    position: static !important;
    width: 500px !important;

  }

    .fast-call-title {
    width: 100% !important;
  }

  .fast-call-content {
    width: 95% !important;
  }

  .fast-call-image{
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 500px !important;
    border-radius: 20% !important;
  }

  .fast-call-wrapper{
    flex-direction: column-reverse !important;
    height: auto !important;
    align-items: flex-start !important;

  }

  .fast-call-title div h2 {
    font-size: 38px !important;
    width: 450px !important;
  }

  .fast-call-title div {
    width: 100% !important;
  }

  .fast-call-p{
    padding-top: 30px !important;
    padding-bottom: 30px !important; 
  }

}



@media (max-width: 1390px){
  .methodes-wraper p, 
  .methodes-wraper2 p{
    font-size: 18px !important;
  }

  .methodes-wraper {
    gap: 40px !important;
  }


   .methods2-content{
    gap: 40px !important;
   }

   .method2-content-inner{
    margin-top: 0 !important;
   }

   .profilaktika-wrapper,
   .removin-inner{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
   }

   .full-loop{
    width: 100% !important;
   }

   .bg-removing{
    top: 0 !important;
   }

   .removing-inner-left{
    width: 95% !important;
    height: auto !important;
   }

   .removin-inner,
   .example-of-practis-wrapper{
    gap: 50px !important;
   }

   .removing-text{
    gap: 40px !important;
   }

   .wrapper-prophylactic-measures{
    flex-direction: column !important;
    width: 100%;
   }


  .organisation-content-item2{
    width: 500px !important;
    gap: 50px !important;
  }

  .organisation-content-item2 div{
    width: 480px !important;
    gap: 30px !important;
  }

  .incompany-content{
    gap: 60px !important;
  }
} 

@media (max-width: 1300px) {

  .home-title{
    width: 95% !important;
  }

  .dezinfekciya-wrapper,
  .more-services-bottom {
    width: 100% !important;
    gap: 60px !important;
  }

  .more-services-top {
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .more-services-right {
    margin: auto !important;
  }

  .price-disinsection {
    width: 390px !important;
    height: 288px !important;
    padding: 25px !important;
    margin-top: 40px;
  }

  .price-disinsection p {
    display: none !important;
  }

  .more-services-left {
    width: 68% !important;
  }
.why-rfdez-content, 
.garants-wrapper{
  flex-direction: column !important;
  align-items: center !important;
  gap: 35px !important;
}

.main-content h1{
  width: 80% !important;
  position: static !important;
}

.main-content {
  gap: 60px !important;
}

.methodes-wraper{
  flex-direction: column !important;
  align-items: center !important;
}

  .metodes1, 
  .mehodes2{
    width: 95% !important;
    height: auto !important;
  }

}

@media (max-width: 1260px){
  .destruction-content{
    gap: 100px !important;
  }

  .destruction-content h2 {
    font-size: 40px !important;
  }

  .destruction-content-left, 
  .destruction-content-right{
    width: 500px !important;
  }

  .destruction-content-left p, 
  .destruction-content-right p{
    font-size: 18px !important;
  }
  .line{
    width: 55% !important;
  } 

}

@media (max-width: 1214px) {
  .menu-window.popup,
  .menu-popap {
    height: auto;
    padding: 50px;
    height: 800px !important;
  }

  .company-services {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 16px !important;

  }

  .company-services1,
  .company-services2 {
    flex-direction: column;
    text-align: center;
    width: 40%;
  }


  .company-services2:last-child {
    flex-direction: row !important;
    width: 100%;
  }

  .company-services2:last-child a {
    display: inline-block;
    width: 40%;
  }

  .position-sertifications {
    bottom: -120px;
  }

  .position-sertifications div {
    padding: 30px 25px 40px 30px !important;
    height: 700px !important;
  }

   .sertifications h2{
    font-size: 40px !important;
  }

  .sertificat2{
    width: 350px !important;
  }

   .sertificat1{
    width: 450px !important;
  }

  
  .metka {
    width: 110px;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
  }
  

  .contact-container {
    gap: 60px !important;
  }

  }



@media (max-width: 1200px){
  h1{
    font-size:60px !important;
  }

   h2{
    font-size:44px !important;
  }

   h3{
    font-size:32px !important;
  }

  section, 
  main{
    margin-top: 90px !important;
  }

}

@media (max-width: 1187px) {

  .company-services1,
  .company-services2,
  .company-services2:last-child a {
    width: 48%;
  }

  .company-services1 a,
  .company-services2 a,
  .company-services2:last-child a {
    font-size: 20px;
    padding: 16px 8px !important;
  }


  .quiz-options {
    flex-wrap: wrap;
    width: 65% !important;
    gap: 60px !important;
  }

  .quiz-h3-wrapper {
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .quiz-button-wrapper {
    width: 100% !important;
    justify-content: flex-start !important;
  }

  .quiz-towns {
    margin: auto;
    width: 500px;
    height: 200px;
  }

  .quiz-town-connetn>div {
    font-size: 18px;
    height: 40px;
  }

  .quiz-town-connetn {
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 200px;
  }

  .estimate-form {
    max-width: 100% !;
    margin-left: 0 !important;
  }

  .objects-processor {
    width: 100%;
    margin: auto;
  }

  .object-wrapper {
    flex-direction: column !important;
  }

  .fast-call-wrapper {
    flex-direction: column-reverse !important;
    justify-content: center !important;
    height: auto !important;
    width: auto !important;
  }



  .fast-call-p {
    margin-top: 40px !important;
  }

  .fast-call-image {
    margin-right: 0 !important;
    width: 100%;
  }

 
  .fast-call-title div h2 {
    font-size: 38px !important;
  }

  .fast-call-btn {
    margin-top: 40px !important;
  }
}

@media (max-width: 1140px){
  .methodes-wraper{
    flex-direction: column-reverse !important;
  }

  .methodes-wraper2{
    flex-direction: column;
  }

  .methods2-content{
    width: 100% !important;
  }

   
  .mthode-img{
    width: 80% !important;
  }
  .mthode-img img{
    width: 100% !important;
  }

  .description-content{
    flex-direction: column !important;
    gap: 55px !important;
  }

  .description-content-inner{
    width: 100% !important;
    height: auto !important;
  }

  .safe-for-children-wrapper h2{
    width: 100% !important;
    font-size: 38px !important;
  }


  .description-content{
    margin-top: 65px !important;
  }

  .example-content{
    flex-direction: column !important;
    gap: 20px !important;
    margin-top: 40px !important;
  }

.example-text-content{
  width: 600px !important;
  margin-top: 50px !important;
  height: auto !important;
}

.example-circle{
  right: auto !important;
  left: -75px !important;
}

.example-image{
  margin-bottom: 0 !important;
  width: 300px !important;
  height: 300px !important;

  }

  .example-circle1{
    width: 80px !important;
    height: 80px !important;
  }

  .example-hex1{
    width: 120px !important;
    height: 140px !important;
    right: -60px !important;
  }

  .example-hex2{
    width: 180px !important;
    height: 210px !important;
  }
  .fog{
    flex-direction: column !important;
    gap: 60px !important;
  }

  .removing-hot{
    margin-top: 150px !important;
  }

  .fog-item{
    gap: 20px !important;
    margin-top: 60px !important;
    width: 100% !important;
  }

  .fog-images{
    width: 100 !important;
    flex-direction: column !important;
    gap: 60px !important;
    justify-content: center;
    align-items: center;
  }

  .line {
    display: none;
  }
.organisation-content{
  flex-direction: column !important;
}
.organisation-content-item1, 
.organisation-content-item2,
.organisation-content-item2 div{
  width: 100% !important;
}

.example-of-practis-wrapper{
  flex-direction: column !important;
}

.incompany-content{
  flex-direction: column !important;
  margin-top: 60px !important;
}

.in-company-item p{
 font-size: 18px !important;
}

.in-company h2{
  width: 100% !important;
  font-size: 36px;
}

.in-company{
  margin-top: 100px !important;
}

.contact-container {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .contact-container-contacts {
    width: 90% !important;
  }

  .tel-wrapper {
    justify-content: flex-start !important;
  }

  .tel-icons {
    flex-direction: row !important;
  }

  .contact-form {
    width: 680px !important;
  }

}

@media (max-width: 1060px){
  .destruction-content{
    flex-direction: column !important;
    justify-content: flex-start !important;
    gap: 55px !important;
  }

  .destruction-content-left{
    width: 750px !important;
    height: 120px !important;
  }

  .methodes{
    margin-top: 100px !important;
  }

  .removing-hot h2{
    width: 100% !important;
  }

  .destruction-content-right{
    margin-top: 100px !important;
  }


    .service-header-img, 
  .service-header-img-image{
    width: 530px !important;
  }

  .hex-icon-wrapper{
    top: auto !important;
    bottom: -195px !important;
    left: 175px !important;
  }
  .icon-service-type{
     top: auto !important;
    left: 225px !important;
  }
}


@media (max-width: 1024px){
  h1{
    font-size:50px !important;
  }

   h2{
    font-size:40px !important;
  }

   h3{
    font-size:28px !important;
  }
  section, main{
    margin-top: 50px !important;
  }
}


@media (max-width: 1016px) {

  .dezinfekciya-wrapper,
  .more-services-bottom,
  .more-services-left {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .price-disinsection {
    margin-top: 40px !important;
  }

}





@media (max-width: 950px) {
  .home-title {
    width: 100% !important;
  }

  .company-services-wrapper{
    margin-top: 100px !important;
  }

  .main-img {
    width: 455px !important;
    height: auto !important;
  }

  .company-services-wrapper h2 {
    font-size: 40px !important;
  }

  .company-services-wrapper p {
    font-size: 20px !important;
  }

  .company-services1 a,
  .company-services2 a,
  .company-services2:last-child a {
    font-size: 16px !important;
  }

  .dezinfekciya-item {
    gap: 80px !important;
  }

  .dezinfekciya-item a {
    gap: 60px !important;
  }

  .dezinfekciya-item .contnt-wrapper {
    width: 300px !important;
  }

  .dezinfekciya-wrapper {
    justify-content: center !important;
  }

  .dezinfekciya-heding h2 {
    font-size: 40px !important;
  }

  .dezinfekciya-heding p {
    font-size: 20px;
    text-align: center;
  }



  .why-choose-us-content-wrapper h2 {
    font-size: 32px;
  }

  .quiz-options {
    width: 100% !important;
    justify-content: center !important;
  }

  .objects-processor h2 {
    text-align: center;
  }

  .sertifikation-wrapper h2 {
    text-align: right !important;
    font-size: 32px !important;
    width: 50%;
  }


  .company-text{
    width: 100% !important;
  }


  .company-image{
    width: 450px !important;
    height: auto !important;
  }

  .why-choose-us-content-wrapper{
     padding-left:20px !important;
    padding-right: 20px !important;
  }

  .why-choose-us-content-text{
    flex-direction: column !important;
    width: 100% !important;
   
  }

  .why-choose-us-content-text p{
    width: 100% !important;
  }

  .why-choose-us-image{
    width: 550px !important;
  }

}

@media (max-width: 860px){

  .servises-type-content h2{
    width: 100% !important;
  }


  .methodes h2{
    width: 100% !important;
    font-size: 40px !important;
  }
 

  .removing-inner-right{
    width: 600px !important;
  }
  .wrapper-prophylactic-measures-blok{
    top: -150px !important;
  }

  
  .organisation-content-item1{
  justify-content: center !important;
  align-items: center !important;
}

.position-sertifications div{
  width: 550px !important;
  height: auto !important;
}

.services-types1{
  width: 100% !important;
}

.services-types1 h3{
  font-size: 35px !important;
}

}

@media (max-width: 820px){
  .destruction-content-left, 
  .destruction-content-right{
    width: 100% !important;
    max-width: 500px !important;
    height: auto !important;
  }

  
}

@media (max-width: 807px) {
  .company-wrapper-content{
    margin-top: 180px !important;
  } 
  header[style] {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto auto auto auto !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    gap: 15px 20px !important;
    flex-direction: unset !important;
  }

  header .logo-wrapper[style] {
    grid-row: 1 !important;
    grid-column: 1 / 3 !important;
    justify-self: flex-start !important;
    display: flex !important;
    margin-right: 0 !important;
  }

  header .disinfection-services[style] {
    grid-row: 2 !important;
    grid-column: 1 / 2 !important;
    width: auto !important;
    margin-right: 0 !important;
  }

  header .license-info[style] {
    grid-row: 2 !important;
    grid-column: 2 / 3 !important;
    width: auto !important;
    margin-right: 0 !important;
    display: flex !important;
  }


  header .call-specialist-wrapper[style] {
    grid-row: 3 !important;
    grid-column: 1 / 2 !important;
    margin-right: 0 !important;
  }

  header .working-now-wrapper[style] {
    grid-row: 3 !important;
    grid-column: 2 / 3 !important;
    width: auto !important;
    margin-right: 0 !important;
  }


  header .burger-wrapper {
    grid-row: 4 !important;
    grid-column: 1 / 3 !important;
    display: flex !important;
    justify-content: flex-end !important;
  }

  .menu-window.popup{
    top: 95px !important;
  }
  .menu-popap{
    top: 75px !important;
  }
}

@media (max-width: 790px){
  .sevice-type-icon-wrapper {
    position: absolute !important;
    bottom: -60px !important;
    right: 50% !important;
    transform: translateX(50%) !important;
    top: auto !important;
    left: auto !important;
    width: 120px !important;
    height: 122px !important;
  }

  .cost-btn-wrapper {
    flex-direction: column;
    gap: 35px !important;
    justify-content: center;
    width: 100% !important;
    padding-bottom: 0 !important;
  }
  .services-type{
    padding: 30px !important;
    margin-top: 120px !important;
  }

  .services-main{
     margin-top: 200px !important;
  }

  .destruction{
    margin-top: 800px !important;
  }

  .destruction-content h2 {
    font-size: 36px !important;
  }

  .example-text-content{
    width: 450px !important;
  }

  .example-circle{
    top: 0 !important;
    right: 30px !important;
    left: auto !important;
  }

   .removing-hot h2{
    font-size: 38px !important;
  }

  .fog-item p,
  .fog-item h4 {
  font-size: 18px !important;
  }
  .call-specialist-btn2{
    padding: 16px 32px !important;
  }




}

@media (max-width: 774px) {

  .main-h1{
    line-height: 36px !important;
  }
  .cost-btn-wrapper {
    padding: 100px 0 80px 0 !important;
  }

  .cost-btn {
    padding: 24px !important;
    font-size: 20px !important;
  }

  .more-services-content {
    gap: 60px !important;
  }

  .dezinfekciya-more-services {
    margin-top: 60px;
  }

  .more-services-left,
  .more-services-bottom,
  .dezinfekciya-wrapper,
  .company-services1,
  .company-services2,
  .company-services2:last-child a {
    width: 100% !important;
  }

  .company-services2:last-child {
    flex-direction: column !important;
  }

  .quiz h2 {
    font-size: 36px !important;
  }

  .why-choose-us-image{
    width: 350px !important;
  }

  .why-choose-us-content-wrapper h2{
    width: 100% !important;
  }


  .objects-processor h2 {
    text-align: center;
  }

  .fast-call {
    margin-top: 120px !important;
  }

  .position-sertifications div {
    width: 500px !important;
    gap: 30px !important;
  }

  .metka {
     width: 80px;
  }


  .sertificat1{
    left:0 !important;
  }

   .sertificat2{
    left: 200px !important;
  }

  .contact-form {
    width: 500px !important;
  }

  .caontact-btn-wrapper {
    flex-direction: column !important;

  }

  .caontact-btn-wrapper button {
    width: 100% !important;
  }

  .menu-window.popup,
  .menu-popap {
    height: 1300px !important;
  }

  .garants-wrapper-item, 
.why-rfdez-item{
width: 100% !important;
}
}

@media (max-width: 740px){
   .destruction{
    margin-top: 750px !important;
  }
}

@media (max-width: 731px){
   .destruction{
    margin-top: 850px !important;
  }

  .example-of-practis-image-wrapper{
    width: 350px !important;
  }

  .example-squar{
    right: -65px !important;
    width: 150px !important;
    height: 145px !important;
  }

  .example-of-practis-content{
    width: 100% !important;
  }

  .example-squar1 {
    right: 100px !important;
  }

  .example-squar2 {
    right: 20px !important;
  }

  .example-of-practis-butons{
    flex-direction: column !important;
    gap: 20px !important;
  }

  .example-of-praktis-p{
    gap: 20px !important;
    
  }

  .example-of-praktis-p p{
    font-size: 18px !important;
  }

  .example-of-practis-content{
    gap: 40px !important;
  }

  .example-of-practis{
    margin-top: 90px !important;
  }

  .fast-call-title {
    width: 280px !important;
  }

  .fast-call-title div h2 {
    font-size: 32px !important;
  }
  
}

@media (max-width: 680px){
   .container,
   .safe-for-children-wrapper {
    padding: 25px 20px 0 20px !important;
  }

  .menu-window.popup, 
  .menu-popap{
    padding: 30px 20px !important;
  }
   .sertifikation-wrapper{
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding: 60px 20px 0 20px !important;
    width: calc(100% + 20px + 20px) !important;
  }

   .fast-call {
    margin-right: -50px !important;
    width: calc(100% + 50px) !important;
  }

  .bg-wraper{
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding: 41px 20px 31px 20px !important;
    width: calc(100% + 20px + 20px) !important;
  }

    .example-of-practis-wrapper{
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding: 41px 20px 31px 20px !important;
    width: calc(100% + 20px + 20px) !important;
  }

  .compony-wrapper{
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding: 51px 20px 57px 20px !important;
    width: calc(100% + 20px + 20px) !important;
  }

    .line-container{
    width: calc(100% + 20px) !important;
  }

  .organisation-container{
        width: calc(100% + 20px + 20px) !important;
  }

  .why-choose-us,
  .sertifikation-wrapper,
  .footer-relative, 
  .safe-for-children {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }

  .organisation-container {
    left: -20px !important;
    right: -20px !important;
  }

  .organization-content-wrapper{
    padding: 0 20px 0 20px !important;
  }

  .bg-removing{
    left: -20px !important;
  }

    .bg-removing{
    padding-left: 50px !important;
  }


 .fast-call-image, 
  .bg-removing1 {
    margin-right: -20px !important;
    margin-right: -20px !important;
    width: calc(100% + 20px + 20px) !important;
  }

   .methodes{
    margin-right: -20px !important;
    width: calc(100% + 20px) !important;
  }


  .privacy-policy {
    padding: 70px, 20px 70px 20px !important;
  }

.organisation-content-item-text{
  padding: 15px !important;
  width: 375px !important;
  font-size: 18px !important;
  gap: 22px !important;
}

.organisation-content-item2 h3{
  font-size: 36px !important;
}
.in-company-item{
  width: 100% !important;
}

  .service-header-img, 
  .service-header-img-image{
    width: 350px !important;
  }

  .hex-icon-wrapper{
    bottom: auto !important;
    left: 135px !important;
    width: 100px !important;
    height: 110px !important;
  }
  .icon-service-type{
    top: 295px !important;
    left: 165px !important;
    width: 45px !important;
  }
  .methodes h2 {
    font-size: 36px !important;
  }

   .servises-type-content h2{
    font-size: 38px !important;
  }

  .servises-type-content h3{
    font-size: 28px !important;
  }

  .servises-type-content p {
    font-size: 16px !important;
  }

  .service-type-content-p-wrapper{
    margin-top: 60px !important;
  }
  .sevice-type-icon-wrapper{
    width: 120px !important;
    height: 122px !important;
  }

  .service-type-icon{
    width: 45px !important;
    height: 67px !important;
  }

  .cost-btn-wrapper{
    padding-top: 60px !important;
   
  }

  .destruction{
    margin-top: 550px !important;
  }


 .methodes{
  background-image: none !important;
 }

 .methodes-wraper p{
  font-size: 16 !important;
 }

 .safe-for-children-wrapper h2{
    font-size: 30px !important;
  }

    .removing-inner-right{
    width: 450px !important;
  }

  .example-hex2{
    left: 211px !important;
  }

  .example-hex1{
    right: 240px !important;
  }

  .example-hex1{
    top: -45px !important;
    right: 15px !important;
    left: auto !important;
    bottom: auto !important;
  }

  .example-hex2 {
    left: -11px !important;
}

   .example-content{
    margin-top: 100px !important;
   }

   .icon-service-type{
  width: 50px !important;
}

.icon-service-type{
  top: auto !important;
  left: 162px !important;
}

.fog-images-item-inner{
  width: 70% !important;
  height: auto !important;
}

.example-of-practis-content{
  height: auto !important;
}
}

@media (max-width: 678px) {
   .main-h1 {
    width: 100% !important;
    text-align: left;
  }

  .main-content {
    .position: static !important;
  }

  .main-img,
  .beground {
    display: none !important;
  }

  .main-p1 {
    width: 100% !important;
    font-size: 18px !important;
  }

  .cost-btn-wrapper {
    flex-direction: column;
  }

  .main-baaner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px !important;
  }

  .services-hr {
    display: none !important;
  }

  .dezinfekciya-more-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .service-link{
    font-size: 20px !important;
  }



  .quiz-towns {
    width: 300px;
  }

  .quiz-town-connetn>div img {
    display: none;
  }

  .price-disinsection,
  .dezinfekciya-item {
    width: 290px !important;
    padding: 15px !important;
  }

  .price-disinsection-h3,
  .dezinfekciya-item h3 {
    font-size: 20px !important;
  }

  .price-disinsection-h4,
  .dezinfekciya-item h4 {
    font-size: 18px !important;
  }

  .price-disinsection-p,
  .dezinfekciya-item p {
    font-size: 16px !important;
  }

  .header-item2 {
    align-items: center;
  }

  .fast-call-image{
    width: 350px !important;
  }

  h1{
    font-size: 45px !important;
  }
   h2{
    font-size: 36px !important;
  }
   h3{
    font-size: 26px !important;
  }
   p{
    font-size: 18px !important;
  }

  section, main{
    margin-top: 35px !important;
  }

}
@media (max-width: 661px){
    .sertificat1 {
        width: 290px !important;
        top: -45px !important;
        left: -50px !important;
    }
    .sertificat2 {
      left: 100px !important;
      top: 0 !important;
    }
}

@media (max-width: 600px){
   .destruction{
    margin-top: 420px !important;
  }
   .servises-type-content h2{
    font-size: 30px !important;
  }
    .methodes-wraper2{
    margin-top: 180px !important;
  }

 .met-btn{
  font-size: 20px !important;

 }

 .profilaktika-left{
  width: 370px !important;
 }

 .profilaktika-left p {
  font-size: 20px;
 }

  .removing-hot h2{
  font-size: 30px !important;
}

.service-header-img, 
.service-header-img-image{
  width: 350px !important;
}

.hex-icon-wrapper{
  width: 120px !important;
  height: 130px !important;
}



}

@media (max-width: 591px){
  .position-sertifications>div{
    width: 100% !important;
  }

  .sertifications h2{
    font-size: 36px !important;
  }

  .sertifications{
    padding-top: 40px !important;
  }
}

@media (max-width: 570px){
  .removing-inner-left {
    padding-top: 120px !important;
  }

  .sertificat2 {
    left: 10px !important;
  }
}


@media (max-width: 550px) {
     header[style] {
    display: flex !important;
    flex-direction: column !;
    justify-content: center !important;
    align-items: center !important;
  }

  .company-image{
    width: 350px !important;
  }
}

@media (max-width: 548px) {
  .main-p2 {
    font-size: 12px !important;
  }

  .main-h1 {

    text-align: center;
  }

  .main-p1 {
    text-align: center;
  }

  .cost-btn {
    padding: 18px !important;
    font-size: 18px !important;
  }

  .dezinfekciya-heding h2 {
    font-size: 32px !important;
  }

  .service-link {
    font-size: 12px !important;
    text-align: center;
    padding: 10px !important;

  }

  .more-services-footer-plus {
    display: none !important;
  }

  .why-chose-as-picture {
    display: block !important;
  }



  .fast-call-btn {
    font-size: 18px !important;
  }

  .contact-form {
    width: 360px !important;
    padding: 30px 15px !important;
  }

  .footer-wrapper {
    flex-direction: column-reverse !important;
  }

  .right-footer {
    gap: 20px !important;
  }

  .left-footer .footer-item1 .logo {
    margin: 30px 0 !important;
  }

}
 
@media (max-width: 509px){
  .methodes-wraper2{
    margin-top: 250px !important;
  }

  .example-text-content{
    width: 350px !important;
  }

  .example-circle{
    top: 0 !important;
    right: 30px !important;
    left: auto !important;
  }

  .bg-removing{
    top: 150px !important;
  }

    .removing-inner-right{
    width: 350px !important;
  }

  .wrapper-prophylactic-measures-blok{
    top: -200px !important;
  }

  .prophylactic-measures-card{
    padding: 25px !important;
    gap: 50px !important;
    width: 325px !important;
    height: 350px !important;
  }

  .prophylactic-measures-card h4{
    font-size: 22px !important;
  }

  .prophylactic-measures-card-content{
    gap: 25px !important;
  }

  .prophylactic-measures-card-content p{
    font-size: 18px !important;
  }


  .removing-inner-left {
    padding-top: 0px !important;
  }

  .position-sertifications div{
  width: 450px !important;
}
 
}


@media (max-width: 480px){
  h1{
    font-size: 40px !important;
  }

  h2{
    font-size: 32px !important;
  }

  h3{
    font-size: 24px !important;
  }

  p{
    font-size: 16px !important;
  }

  section, main{
    margin-top: 30px !important;
  }
}



@media (max-width: 474px) {

   .dezinfekciya-item a {
    gap: 20px !important;
  }

}




@media (max-width: 419px){

  .example-content{
    padding-top: 100px;
  }

   .position-sertifications div{
  width: 100% !important;
}
}