html,
body {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 170px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .1s linear;
}

body {
  font-family: ArTarumianHelvetica;
  line-height: 1.1;
  background-color: #ffffff;
  color: #525252;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

p {
  font-size: 1rem;
}


/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-item1 {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-item2 {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.gradient-text {
  font-family: Arial-BoldMT;
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.flug img {
  width: 55px;
}

.disinfection-services {
  padding: 0 .5rem;
  border-left: 2px solid #20c049;
  width: 225px;
}

.disinfection-services p {
  font-weight: 400;
}

.license-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 245px;
  gap: 20px;
}

.license-info img {
  width: 35px;
}

.call-specialist-wrapper {
  display: inline-block;
  width: 300px;
  height: 45px;
  padding: 2px;
  border-bottom: 1px solid #6bac6f;
  border-left: 1px solid #6bac6f;
  border-top: 2px solid #6bac6f;
  border-right: 2px solid #6bac6f;
  cursor: pointer;
}

.call-specialist {
  padding: 9.5px 30px;
  background: linear-gradient(69deg, #6bac6f, #55c255);
  color: #ffffff;
  font-weight: bold;
}

.call-specialist a {
  font-size: 1.1rem;
  font-family: ArTarumianHelvetica;
}

.call-specialist:hover {
  background: linear-gradient(69deg, #55c255, #6bac6f);
}

.working-now-wrapper {
  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.working-now {
  display: flex;
  gap: 4px;
  align-items: center;
}

.online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #20c049;
  animation: blink 1s infinite;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.offline {
  background-color: #000000;
}


.call a {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 1.2rem;
  color: #303030;
}

.call a:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* main */
.cost-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  opacity: 0.9;

}

/* Company Services */
.company-services-call:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.company-services1,
.company-services2 {
  display: flex;
  gap: 17px;
}

.company-services1 a,
.company-services2 a {
  font-family: Century Gothic;
  color: #242424;
  font-size: 24px;
  font-weight: 400;
  padding: 16px;
  border: 3px solid #abe3b2;
  border-radius: 50px;
}

.company-services2 a {
  border: 3px solid #abbde3;
}

.company-services1 a:hover {
  background: linear-gradient(69deg, #23813b, #abe3b2);
  color: #ffffff;
}

.company-services2 a:hover {
  background: linear-gradient(69deg, #7c93c3, #abbde3);
  color: #ffffff;
}

/* burger popup */
.menu-window.popup {
  position: absolute;
  top: 110px;
  padding: 60px 0;
  left: 0px;
  right: 0px;
  height: auto;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  border-bottom: 5px solid #23813b;
  z-index: 1000;
}

.menu-window.popup.active {
  transform: scaleY(1);
  opacity: 1;
}

.burger-icon {
  width: 100%;
  transition: transform 0.3s ease;
}

.burger-menu:hover {
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

.burger-menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1100;
}

.burger-icon {
  width: 100%;
  transition: transform 0.3s ease;
}

.burger-menu.active .burger-icon {
  transform: rotate(90deg);

}

/* services */
.dezinfekciya-item:hover {
  background: linear-gradient(29deg, #539267, #51ac4d);
}

.dezinfekciya-item:hover img {
  filter: brightness(0) invert(1);
}

.dezinfekciya-item:hover h3,
.dezinfekciya-item:hover h4,
.dezinfekciya-item:hover p {
  color: #ffffff !important;
}

.dezinfekciya-more-services.active .service-link {
  border-image: linear-gradient(69deg, #23813b, #abe3b2) 1;
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.dezinfekciya-more-services.active .service-link img{
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

.service-link:hover{
  background: linear-gradient(69deg, #23813b, #77e695);
  color: #ffffff;
}

.service-link:hover img{
  filter: brightness(0) invert(1);
}

/* more services */
.more-services-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dezinfekciya-more-services.active .more-services-content {
  max-height: 5000px;
  overflow: auto;
}

.dezinfekciya-more-services.active .services-hr {
  height: 0 !important;
  background-color: #ffffff !important;
}

.dezinfekciya-more-services.active .service-link img {
  transform: rotate(180deg);
}

.arrow-more {
  filter: brightness(0) invert(0);
  transition: filter 0.3s ease;
}

.price-disinsection:hover {
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.price-disinsection:hover .price-disinsection-h4 {
  color: #242424 !important;
}

.price-disinsection:hover .price-disinsection-p {
  color: #242424 !important;
}

.price-disinsection:hover .price-disinsection-h3 {
  color: #ffffff !important;
}

.price-disinsection-h3,
.price-disinsection-h4,
.price-disinsection-p {
  transition: color 0.3s ease;
}

.price-disinsection:hover .arrow-more {
  filter: brightness(0) invert(1)
}

.price-disinsection:hover .pocet {
  filter: brightness(0) invert(0);
  transition: filter 0.3s ease;
}

.more-services-footer-links:hover .arrow-black {
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

.more-services-footer-links:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

/* quiz */
.quiz-option img {
  filter: brightness(0) invert(1)
}

.quiz-option:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.quiz-option:hover img {
  transform: rotate(180deg);
}

.quiz-prev:hover {
  background: linear-gradient(69deg, #23813b, #77e695);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.quiz-towns {
  display: flex;
  align-items: center;
  width: 1050px;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  height: 160px; 
  gap: 0;
}

.quiz-town-viewport {
  width: calc(100% - 100px); 
  overflow: hidden;
}

.quiz-town-connetn {
  display: grid;
  grid-auto-flow: column;  
  grid-template-rows: repeat(2, 1fr); 
  grid-auto-columns: 220px; 
  gap: 15px; 
  align-items: center;
  transition: transform 0.4s ease;
  width: max-content;  
  box-sizing: border-box;
}


.quiz-town-connetn > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  box-sizing: border-box;
  padding: 8px;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  user-select: none;
}

.quiz-town-connetn > div img {
  width: 45px;
  height: 30px;
  object-fit: contain;
  display: inline-block;
  flex-shrink: 0;
  margin-right: 6px;
}


.arrow-left,
.quiz-arrow-right {
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrow-left img { transform: rotate(180deg); } 

.sent-button:hover {
  box-shadow: 0 10px 10px rgba(16, 16, 16, 0.25);
  opacity: 0.9;

}

.quiz-town-connetn div:hover{
  color: #23813b;
}

.arrow-left img:hover, .quiz-arrow-right{
  filter: invert(48%) sepia(92%) saturate(745%) hue-rotate(81deg) brightness(95%) contrast(90%);
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup window */
.popup-window {
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  position: relative;
  font-family: "Century Gothic", sans-serif;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

/* Close button */
.close-popup {
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: 0.3s;
}
.close-popup:hover {
  color: #2b9045;
}

/* Button inside popup */
#backToQuiz {
  background: linear-gradient(90deg, #2b9045, #38b856);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
}
#backToQuiz:hover {
  background: linear-gradient(90deg, #38b856, #2b9045);
  transform: translateY(-1px);
}

/* object */
.object img{
  border-radius: 20px;
}

.object a{
  display: inline-block;
  transition: all 0.3s ease;
}

.object a:hover{
  box-shadow: 0 0 8px rgba( 0, 0, 0.45);
  background: linear-gradient(69deg, #23813b, #90eba8);
}

/* sertifikation */
.metka{
  position: absolute;
  right: -120px;
  bottom: 88px;
}

.sertificat2{
  position: absolute;
  left: -355px;
  top: 60px;
  z-index: 1;
}

.sertificat1{
  position: absolute;
  right: 790px;
  bottom: 230px;
  z-index: 2;
}




@media (max-width: 1763px) {
  .container {
    padding: 40px 100px;
  }

  .flug {
    display: none;
  }

  .header-item1 {
    width: 54%;
  }

  .header-item2 {
    width: 42%;
  }

  .beground {
    opacity: 0.3;
  }

  .main-img {
    opacity: 0.7;
  }

  .services-hr {
    right: -100px !important;
  }

  .why-choose-us-wrapper, .sertifikation-wrapper {
    margin-right: -100px !important;
    margin-left: -100px !important;
  }
  
  .sertificat2{
    left: -310px;
  }

    .sertifikation-wrapper h2{
    font-size: 38px;
    width: 70%;
    text-align: center;
    margin: auto;
  }


}

@media (max-width: 1556px) {
  .container {
    padding: 30px 50px;
  }

  .main-img {
    right: 60px !important;
  }

  .services-hr {
    right: -50px !important;
  }

  .why-choose-us-wrapper, .sertifikation-wrapper {
    margin-right: -50px !important;
    margin-left: -50px !important;
  }


  .position-sertifications div{
    width: 514px;
    height: 750px;
    padding: 48px 52px 47px 55px;
  }

  .position-sertifications div h3{
    font-size: 20px !important;
  }

  .position-sertifications div p{
    font-size: 16px !important;
  }

  .metka {
    width: 120px;
    bottom: 100px;
    right: -70px;
  }
  .sertificat1 {
    width: 350px;
    right: 620px;
  }
  .sertificat2 {
    width: 350px;
  }

}

@media (max-width: 1456px) {
  .license-info {
    display: none;
  }

  .header-item1 {
    width: 40%;
  }

  .header-item2 {
    width: 56%;
  }

  .why-choose-us-content-wrapper h2 {
    font-size: 38px !important;
  }

  .why-choose-us-content-wrapper {
    max-width: 550px !important;
  }

  .why-choose-us-content-text p {
    font-size: 18px !important;
    width: 240px !important;
  }

  .why-choose-us-content-text {
    margin-top: 30px !important;
    gap: 20px !important;
  }

}

@media (max-width: 1445px) {
  .menu-window.popup {
    top: 30px;
  }


  .burger-menu.active {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    transform: scale(1.1);
  }

  header {
    flex-wrap: wrap;
  }

  .header-item1 {
    width: 100%;
    justify-content: flex-start;
  }

  .header-item2 {
    width: 100%;
  }

  .working-now-wrapper {
    display: none;
  }

  .dezinfekciya-heding {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .dezinfekciya-wrapper,
  .more-services-bottom,
  .more-services-left {
    gap: 35px !important;
  }

  .price-disinsection {
    width: 300px !important;
    padding: 20px !important;
  }

  .price-disinsection-h3 {
    font-size: 24px !important;
  }

  .price-disinsection-h4 {
    font-size: 20px !important;
  }

  .price-disinsection-p {
    font-size: 18px !important;
  }

  .objects-processor{
    margin-top: 150px !important;
  }

  .more-services-left {
    width: 65% !important;
  }

  .object-wrapper{
    gap: 50px !important;
  }

  .object h3{
    font-size: 20px !important;
  }

  .object p{
    font-size: 12px !important;
  }

}



@media (max-width: 1214px) {
  .menu-window.popup {
    height: auto;
    padding: 50px;
  }

  .company-services {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 16px !important;

  }

  .company-services1,
  .company-services2 {
    flex-direction: column;
    text-align: center;
    width: 40%;
  }


  .company-services2:last-child {
    flex-direction: row !important;
    width: 100%;
  }

  .company-services2:last-child a {
    display: inline-block;
    width: 40%;
  }

   .position-sertifications{
    bottom: -120px;
  }

  .position-sertifications div{
    padding: 30px 25px 40px 30px !important;
    height: 700px !important;
  }

  .metka {
    width: 80px;
    bottom: 170px;
    right: -50px;
  }
  .sertificat1 {
    width: 200px;
    right: 750px;
    bottom: 400px;
  }
  .sertificat2 {
    width: 200px;
    left: -160px;
    top: 90px;
  }
}

@media (max-width: 1187px) {

  .company-services1,
  .company-services2,
  .company-services2:last-child a {
    width: 48%;
  }

  .company-services1 a,
  .company-services2 a,
  .company-services2:last-child a {
    font-size: 20px;
    padding: 16px 8px !important;
  }

  .dezinfekciya-wrapper,
  .more-services-left,
  .more-services-bottom {
    width: 85% !important;
    justify-content: center !important;
    align-items: center;

  }

  .price-disinsection {
    display: none !important;
  }

  .why-choose-us-content-wrapper h2 {
    font-size: 32px !important;
  }

  .why-choose-us-content-wrapper {
    max-width: 550px !important;
  }

  .why-choose-us-content-text p {
    font-size: 16px !important;
    width: 240px !important;
  }

  .why-choose-us-content-text {
    margin-top: 25px !important;
    gap: 20px !important;
  }

  .quiz-options {
    flex-wrap: wrap;
    width: 65% !important;
    gap: 60px !important;
  }

  .quiz-h3-wrapper {
    width: 100% !important;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .quiz-button-wrapper {
    width: 100% !important;
    justify-content: flex-start !important;
  }

   .quiz-towns {
    margin: auto;
    width: 500px;
    height: 200px;
  }

  .quiz-town-connetn > div{
    font-size: 18px;
    height: 40px;
  }

  .quiz-town-connetn {
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 200px; 
  }

  .estimate-form{
    max-width: 100% !;
    margin-left: 0 !important;
  }

  .objects-processor{
    width: 80%;
    margin: auto;
  }

  .object-wrapper {
    flex-direction: column !important;
  }

  .sertificat2 {
    width: 180px;
    left: 10px;
    top: -100px;
}

.sertificat1 {
    width: 180px;
    right: 600px;
    bottom: 600px;
}


}

@media (max-width: 950px) {
  .main-h1 {
    padding: 100px 0px 50px !important;
    width: 455px !important;
  }

  .main-img {
    width: 455px !important;
    height: auto !important;
  }

  .company-services-wrapper h2 {
    padding: 150px 0 40px 0 !important;
    font-size: 40px !important;
  }

  .company-services-wrapper p {
    font-size: 20px !important;
  }

  .company-services1 a,
  .company-services2 a,
  .company-services2:last-child a {
    font-size: 16px;
  }

  .dezinfekciya-item {
    gap: 80px;
  }

  .dezinfekciya-item a {
    gap: 60px !important;
  }

  .dezinfekciya-item .contnt-wrapper {
    width: 300px !important;
  }

  .dezinfekciya-wrapper {
    justify-content: center !important;
  }

  .dezinfekciya-heding h2 {
    font-size: 40px !important;
  }

  .dezinfekciya-heding p {
    font-size: 20px;
    text-align: center;
  }

  .why-choose-us-content-wrapper {
    max-width: 550px !important;
  }

  .why-choose-us-content-text p {
    font-size: 16px !important;
    width: 240px !important;
  }

  .why-choose-us-content-text {
    margin-top: 25px !important;
    gap: 18px !important;
    justify-content: space-between !important;
  }

  .why-chose-as-picture {
    display: none !important;
  }

  .why-choose-us-content-wrapper h2 {
    font-size: 32px;
  }

  .quiz-options {
    width: 100% !important;
    justify-content: center !important;
  }

   .objects-processor h2{
    text-align: center;
  }

  .sertifikation-wrapper h2{
    text-align: right !important;
    font-size: 32px !important;
    width: 50%;
  }

  .sertificat1 {
    width: 100px;
  }

   .sertificat2 {
    width: 100px;
    left: 60px;
    top: -50px;
  }

  .metka {
    width: 90px;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
  }

  .position-sertifications {
    right: 50% !important;
    transform: translateX(50%);
  }

  

}


@media (max-width: 774px) {
  .cost-btn-wrapper {
    padding: 100px 0 80px 0 !important;
  }

  .cost-btn {
    padding: 24px !important;
    font-size: 20px !important;
  }

  .more-services-content {
    gap: 60px !important;
  }

  .dezinfekciya-more-services {
    margin-top: 60px;
  }

  .more-services-left,
  .more-services-bottom,
  .dezinfekciya-wrapper,
  .company-services1,
  .company-services2,
  .company-services2:last-child a {
    width: 100% !important;
  }

  .company-services2:last-child {
    flex-direction: column !important;
  }
  .objects-processor h2{
    font-size: 36px !important;
    text-align: center;
  }

.position-sertifications div{
    width: 500px !important;
  }

  .sertificat1 {
    width: 100px;
    right: 400px;
    bottom: 640px;
  }

   .sertificat2 {
    width: 100px;
    left: 60px;
    top: -50px;
  }

  .metka {
    width: 90px;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
  }

  .position-sertifications {
    right: 50% !important;
    transform: translateX(50%);
  }
}

@media (max-width: 678px) {
  .main-h1 {
    padding: 70px 0px 50px !important;
    width: 100% !important;
  }

  .header-item2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .working-now-wrapper {
    align-items: flex-start;
  }

  .main-content {
    .position: static !important;
  }

  .main-img,
  .beground {
    display: none !important;
  }

  .main-h1 {
    font-size: 50px !important;
  }

  .main-p1 {
    width: 100% !important;
    font-size: 18px !important;
  }

  .cost-btn-wrapper {
    flex-direction: column;
  }

  .main-baaner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px !important;
  }

  .services-hr {
    display: none !important;
  }

  .dezinfekciya-more-services {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .why-choose-us {
    display: none !important;
  }

  .quiz-towns{
    width: 300px;
  }

  .quiz-town-connetn > div img{
    display: none;
  }

}

@media (max-width: 548px) {
  .main-p2 {
    font-size: 12px !important;
  }

  .main-h1 {
    font-size: 40px !important;
    text-align: center;
  }

  .main-p1 {
    text-align: center;
  }

  .cost-btn {
    padding: 18px !important;
    font-size: 18px !important;
  }

  .dezinfekciya-heding h2 {
    font-size: 32px !important;
  }

  .service-link {
    font-size: 12px !important;
    text-align: center;
    padding: 10px !important;

  }

  .more-services-footer-plus {
    display: none !important;
  }

  .why-chose-as-picture {
    display: block !important;
  }

  .objects-processor h2{
    font-size: 32px !important;
  }

  .position-sertifications div{
    width: 360px !important;
    height: 800px !important;
  }

  .sertificat1 {
      right: 265px;
      bottom: 730px;
      width: 90px;
  }

   .sertificat2 {
      width: 80px;
      left: 50px;
      top: -30px;
  }

}

@media (max-width: 474px) {
  .header-item1 {
    flex-direction: column;
  }

  .disinfection-services {
    text-align: center;
    width: 100%;
    padding: 0;
    border: none;
  }

  .header-item2 {
    align-items: center;
  }

  .dezinfekciya-item a {
    gap: 20px !important;
  }

  .dezinfekciya-item h3 {
    font-size: 24px !important;
  }
}